.active{
    color:red;
    text-decoration: none;
    font-size: 18px;
}

.no-active{
    color:grey;
    text-decoration: none;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0.5em;
    background-color:cornflowerblue;
}

.ingredientes{
   list-style: none;
}

/* .div-card{
    display: flex;
    flex-direction: row;
}
.div-card-body{
    display: flex;
    flex-direction: column;
    justify-content: right;
} */